*~
.x/
/.android/
/.aptcyg/
/.bash_history
/.cache/
/.cisco/
/.conda/
/.config/configstore/
/.config/mintty/themes/
/.dbus/
/.dbus-keyrings/
/.dotnet/
/.envs/
/.gnupg/
/.history
/.IPautomataDesigner/
/.ipython/
/.lesshst
/.local/
/.markdownNavigator/
/.PyCharm*/
/.python_history
/.rnd
/.rtm*.json
/.shell_prompt.sh
/.ssh/
/.sudo_as_admin_successful
/.tig_history
/.vim/
/.viminfo
/.wget-hsts
/.z
/_viminfo
/3D Objects/
/AppData/
/Application Data/
/Archyvas/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Evernote/
/Favorites/
/IntelGraphicsProfiles/
/LauncherFolder
/Links/
/Local Settings/
/My Documents/
/MicrosoftEdgeBackups/
/MyDocuments
/Music/
/ntuser.*
/NTUSER.DAT*
/OneDrive/
/Pictures/
/Programs/
/Projects/
/Recent/
/Root/
/Saved Games/
/Searches/
/SendTo/
/Source/
/Start Menu/
/Videos/
/WINDOWS/
