*~
/.android/
/.aptcyg/
/.bash_history
/.cache/
/.conda/
/.config/configstore/
/.config/dconf/
/.config/mintty/themes/
/.config/wslu/
/.dbus-keyrings/
/.dbus/
/.docker/
/.dotnet/
/.envs/
/.git-for-windows-updater
/.gnupg/
/.history
/.ipython/
/.landscape/
/.lesshst
/.local/
/.markdownNavigator/
/.motd_shown
/.PyCharm*/
/.python_history
/.rnd
/.rtm*.json
/.shell_prompt.sh
/.ssh/
/.sudo_as_admin_successful
/.tig_history
/.vim/
/.viminfo
/.virtualenvs
/.vscode/
/.vscode-server/
/.WebStorm*/
/.wget-hsts
/.z
/3D\ Objects/
/AppData/
/Application\ Data/
/Archyvas/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Evernote/
/Favorites/
/Google\ Drive/
/IntelGraphicsProfiles/
/LauncherFolder
/Links/
/Local\ Settings/
/MicrosoftEdgeBackups/
/Music/
/MyDocuments
/My\ Documents/
/ntuser.*
/NTUSER.DAT*
/OneDrive/
/Pictures/
/Programs/
/Projects/
/Recent/
/Root/
/Saved\ Games/
/Searches/
/SendTo/
/Source/
/src/
/Start\ Menu/
/Videos/
/WINDOWS/
/_viminfo
