*~
/.android/
/.aptcyg/
/.aws
/.azure
/.azurefunctions/
/.azure-functions-core-tools/
/.azure-shell/
/.bash_history
/.cache/
/.click-history
/.conda/
/.config/configstore/
/.config/dconf/
/.config/fish/
/.config/mc/
/.config/mimeapps.list
/.config/mintty/themes/
/.config/pulse/
/.config/thefuck/
/.config/wslu/
/.dbus/
/.dbus-keyrings/
/.docker/
/.dotnet/
/.envs/
/.git-for-windows-updater
/.gnupg/
/.history
/.ipython/
/.kube/
/.landscape/
/.lesshst
/.librarymanager/
/.local/
/.markdownNavigator/
/.minikube/
/.motd_shown
/.npm/
/.nuget/
/.poetry/
/.PyCharm*/
/.pylint.d/
/.python_history
/.rnd
/.rtm*.json
/.shell_prompt.sh
/.ssh/
/.sudo_as_admin_successful
/.tig_history
/.vim/
/.viminfo
/.virtualenvs
/.vscode/
/.vscode-server/
/.WebStorm*/
/.wget-hsts
/.z
/.z.*
/_viminfo
/3D\ Objects/
/AppData/
/Application\ Data/
/Archyvas/
/bin/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Evernote/
/Favorites/
/GediminasPaulauskas
/Google\ Drive/
/IntelGraphicsProfiles/
/LauncherFolder
/Links/
/Local\ Settings/
/MicrosoftEdgeBackups/
/Music/
/My\ Documents/
/MyDocuments
/ntuser.*
/NTUSER.DAT*
/OneDrive*/
/Pictures/
/Programs/
/Projects/
/Recent/
/repos/
/Root/
/Saved\ Games/
/Searches/
/SendTo/
/Source/
/src/
/Start\ Menu/
/Videos/
/WINDOWS/
/wslu/
